.Comp{
    height: 100vh;
    width: 80%;
    background: lightblue;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
